<nav>
  <div>
    <a href="/" class="logo">Loading Club</a>
  </div>
  <div class="nav-links">
    <% if (locals.user) { %>
    <a href="/message/add">Message</a>
    <a href="/member">Membership</a>
    <a href="/logout">Logout</a>
    <% } else { %>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
    <% } %>
  </div>
  <%- include("./menuDropdown.ejs") %>
</nav>
