<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/partials/navbar.css" />
    <link rel="stylesheet" href="/css/partials/menuDropdown.css" />
    <script src="/js/navMenu.js" defer></script>
  </head>
  <body>
    <%- include("partials/navbar") %>
    <main>
      <h1>Membership</h1>
      <form action="/member" method="post">
        <label for="membershipPass">Membership Code</label>
        <input type="text" name="membershipPass" id="membershipPass">
      </form>
    </main>
  </body>
</html>
