main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 400px;
  width: 100%;
  justify-self: center;
  border: 1px solid var(--primary-border);
  padding: 16px;
}

.header-text {
  margin-bottom: 24px;
}

form,
.input-container {
  display: flex;
  flex-direction: column;
}

form {
  gap: 16px;
}

.input-container {
  gap: 4px;
}

label {
  color: var(--muted-text);
  font-size: 14px;
}

input,
button {
  background-color: var(--input-bg);
  border: none;
  border-radius: 4px;
}

input {
  padding: 8px;
}

button {
  margin-top: 8px;
  padding: 12px;
  cursor: pointer;
}

button:hover {
  background-color: var(--input-hover);
}