@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Outfit:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* Background */
  --primary-bg: rgb(18, 18, 18);
  --input-bg: rgb(24, 24, 24);
  --warning-bg: rgb(221, 57, 57);
  --note-bg: rgb(62, 64, 167);
  --avatar-bg-1: rgb(90, 90, 224);
  --avatar-bg-2: rgb(85, 175, 100);
  --avatar-bg-3: rgb(175, 85, 85);
  --avatar-bg-4: rgb(172, 85, 175);
  --avatar-bg-5: rgb(187, 172, 89);
  --avatar-bg-6: rgb(33, 42, 165);
  --avatar-bg-7: rgb(24, 158, 158);

  /* Border */
  --primary-border: rgb(26, 26, 26);
  --card-border: rgb(37, 37, 37);

  /* Text */
  --primary-text: rgb(238, 238, 238);
  --muted-text: rgb(130, 130, 130);

  /* Hover */
  --primary-bg-hover: rgb(24, 24, 24);
  --input-hover: rgb(26, 26, 26);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-text);
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--primary-bg);
}

main {
  min-height: 100vh;
  padding: 86px 24px;
}

.separator {
  border: 1px solid var(--primary-border);
}

@media (max-width: 520px) {
  main {
    padding: 86px 16px;
  }
}
