@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&family=Outfit:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* Background */
  --primary-bg: rgb(18, 18, 18);
  --input-bg: rgb(24, 24, 24);

  /* Border */
  --primary-border: rgb(26, 26, 26);

  /* Text */
  --primary-text: rgb(238, 238, 238);
  --muted-text: rgb(130, 130, 130);

  /* Hover */
  --primary-bg-hover: rgb(24, 24, 24);
  --input-hover: rgb(26, 26, 26);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--primary-text);
  font-family: "Inter", sans-serif;
}

body {
  background-color: var(--primary-bg);
}

main {
  min-height: 100vh;
  padding: 86px 24px;
}