.errors-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: absolute;
  top: 54px;
  right: 0;
  margin: 16px;
  list-style-type: none;
}

.errors-container li {
  display: flex;
  align-items: center;
  background-color: var(--warning-bg);
  padding: 16px;
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.errors-container li.fade-in {
  transform: translateX(0%);
  opacity: 1;
}

.close-btn {
  margin-left: 15px;
  font-weight: bold;
  float: right;
  cursor: pointer;
  font-size: 22px;
}