.message-container {
  border: 1px solid var(--card-border);
  border-radius: 4px;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.user-info {
  display: flex;
  gap: 8px;
}

.user-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 24px;
  width: 48px;
  height: 48px;
  background-color: rgb(68, 68, 255);
}

.username {
  color: var(--muted-text);
}

.message-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.username,
.message {
  font-size: 14px;
}

.user-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  font-size: 20px;
}
